# Virtual environment
venv/

# # Sensitive data folders
logs/email_log.txt
data/attachments/cover_letter.pdf
data/attachments/resume.pdf
data/contacts.xlsx
# Credentials
credentials.json
token.json

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE-specific files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db