# Virtual environment
venv/

# # Sensitive data folders
logs/
data/*
!data/.gitkeep
logs/*
!logs/.gitkeep
attachments/*
!attachments/.gitkeep
# Credentials
credentials.json
token.json

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE-specific files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db